
.divider {
    margin-top: var(--siseun-spacing-scale-2x);
    margin-bottom: var(--siseun-spacing-scale-2x);
}

.light {
    border-color: var(--siseun-color-gray-20);
}

.dark {
    border-color: var(--siseun-color-pure-0);
}
